---
import Editors from "./Editors.astro";
import Latest from "./Latest.astro";
import About from "./About.astro";

const titre =
  "Conflit des facultés. La philosophie des juristes et le droit des philosophes";
const numero = "14";
const date = "Septembre 2023";
const coordinators = ["a", "b", "d"];
const cover_image = "cover.png";
const editors = ["Denis Baranger", "Olivier Beaud"];
---

<div class="flex space-x-10 mx-20 p-10">
  <div >
    <Latest
      titre={titre}
      numero={numero}
      date={date}
      coordinators={coordinators}
    />
  </div>
  <div class="flex flex-col justify-between">
    <Editors editors={editors} />
    <div class="flex grow mt-10"> <About  /></div> 
  </div>
</div>

