---
const { article } = Astro.props;
import FontSize from "./FontSize.astro";
import Footnotes from "./Footnotes.astro";
import TableOfContent from "./TableOfContent.astro";
import Chapters from "./Chapters.astro";
import { Debug } from "astro:components";
---

<article class="article">
  <!-- <Debug {article} /> -->
  <div class="article_topWrapper">
    <h1 class="article_title">{article.title}</h1>
    <div class="article_authors">
      {
        article.authors.map(({ author_id: author }) => (
          <div class="article_author">{author.fullname}</div>
        ))
      }
    </div>
  </div>
  <div class="main-content relative flex flex-row">
    <div id="sidebar" class="sidebar sidebar-1 flex flex-col">
      <div class="sidebar__inner sidebar__inner-1">
        <Chapters article={article} />
      </div>
    </div>
    <div class="article_content" set:html={article.content} />
    <div id="sidebar-2" class="sidebar sidebar-2 flex flex-col">
      <div class="sidebar__inner sidebar__inner-2 ml-3">
        <FontSize />
        <TableOfContent />
        <Footnotes />
      </div>
    </div>

    <script type="text/javascript" src="/js/sticky-sidebar.js"></script>

    <script>
      new StickySidebar(`.sidebar-1`, {
        containerSelector: ".main-content",
        innerWrapperSelector: ".sidebar__inner-1",
        topSpacing: 20,
        bottomSpacing: 20,
      });
      new StickySidebar(`.sidebar-2`, {
        containerSelector: ".main-content",
        innerWrapperSelector: ".sidebar__inner-2",
        topSpacing: 20,
        bottomSpacing: 20,
      });
    </script>

    <style is:global>
      .article_content {
        @apply text-lg text-justify w-2/4 max-w-3xl mx-auto leading-normal mt-8;
        counter-reset: footnote;
      }

      .sidebar {
        @apply w-1/4;
        will-change: min-height;
      }

      .sidebar__inner {
        transform: translate(
          0,
          0
        ); /* For browsers don't support translate3d. */
        transform: translate3d(0, 0, 0);
        will-change: position, transform;
      }

      article p:first-of-type::first-letter {
        float: left;
        font-size: 55px;
        line-height: 1;
        font-weight: bold;
        margin-right: 9px;
        /* Add any other styles you want to apply to the first letter */
      }
      .article_content p:first-child {
      }

      .footnote-link {
        /* font-size: 1px;
    letter-spacing: -1px; */
        /* color: transparent; */
      }

      a.footnote-link::after {
        counter-increment: footnote;
        content: "[" counter(footnote) "]";
      }

      .article_content .footnote-link::after {
        font-size: 1.3rem; /* Maintain relative font-size in browsers that support it */
        letter-spacing: normal;
        display: inline-block;
        vertical-align: super;
        font-size: 75%;
        color: skyblue;
      }

      .article_topWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .article_title {
        @apply text-center font-bold text-3xl my-8;
        border-bottom: 1px solid rgba(var(--secondary));
      }
      .article_authors {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
      .article_author {
        font-size: 1.5rem;
        font-weight: 400;
        margin: 0;
        padding: 0;
      }
      h3 {
        font-size: 1.5rem;
        font-weight: 700;
        margin: 0;
        padding: 0;
      }
      h4 {
        font-size: 1.25rem;
        font-weight: 700;
        margin: 0;
        padding: 0;
      }
    </style>
  </div>
</article>
